block loader
	include body/loader

block nav
	include body/nav

block header
	include body/header

block modal
	include body/modal

block footer
	include body/footer

block footer-script
	include body/footer-script
