doctype html
html.no-js
	block html
		head
			block head
				block meta

				title #{title}

				block head-css

				block head-js

		body
			block body
				block loader

				block nav

				block header

				block body-container

				block modal

				block footer

				block footer-script
