
include ../../shared/head

    .container(style="width:100%;")
        .row
            .col.s12
              table.bordered.striped.highlight.centered.responsive-table
                thead
                  tr
                    th id
                    th champ1
                    th champ2
                    th champ3
                    th champ4
                    th champ5
                    th champ6
                    th champ7
                    th champ8
                    th champ9
                    th champ10
                    th champ11
                    th champ12
                    th champ13
                    th champ14
                    th champ15
                    th champ17
                    th champ18
                    th champ19
                    th champ20
                    th champ21
                    th champ23
                    th champ24
                    th champ25
                    th champ26
                    th champ27
                    th champ28
                    th champ29
                    th champ30
                    th champ31
                    th champ32
                    th champ33
                    th champ34
                    th Edit

                tbody
                    each val in data
                        tr
                            each val2 in val
                                td= val2
                            else
                                td La base de donnée est vide !
                            td
                                input(name="id" value=val.id type="hidden")
                                a(href="edit/" + val.id)
                                    button.btn.btn-primary(type="submit") Edit
                    else
                        td La base de donnée n'existe pas !
