header#header.media
    a.logo.pull-left(href="/" target="blank" style="padding-right:3%;") ALLER AU SITE
    .media-body
        #top-menu.media
            .pull-left.tm-icon
                a.drawer-toggle(href="" data-drawer="notifications")
                    i.sa-top-updates
                    i.n-count.animated 1
                    span Updates
            #time.pull-right
                span#hours
                |                         :
                span#min
                |                         :
                span#sec
            .media-body
                input.main-search(type="text")
