doctype html
<!--[if IE 9]><html class="ie9"><![endif]-->
html.no-js
	block html
		head
			block head
				block meta

				title #{title}

				block head-css

		body#skin-blur-city
			block body
				block header

				block separator

				block body-container

				block footer-script
