footer.page-footer
    .container
        .row
            .col.l6.s12
                h5.white-text TTC
                p.grey-text.text-lighten-4 Trouve Ton Club

            .col.l4.offset-12.s12
                h5.white-text Voir aussi
                ul
                    block footer-links
                        include footer-links

    .footer-copyright
        .container
            p &copy; 2017 Tous droits réservés - TrouveTonClub
                a.grey-text.text-lighten-4.right(href="/contact") Nous contacter
